.card {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
}

.face.front {
    opacity: 1;
    background: rgb(6, 201, 201);
    transition: transform 400ms linear;
}

.face.back {
    background: rgb(236, 189, 100);
    z-index: 2;
    opacity: 0;
    transition: transform 400ms linear;
}

.card:hover .back {
    opacity: 1;
    transform: rotateX(180deg);
}

.card:hover .front {
    opacity: 0;
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: visible;
}