.container {
    width: 100%;
}

button {
    width: 100px;
    height: 50px;
    background: chocolate;
    border-radius: 20%;
}

.better:hover {
    transform: translateY(20px);
    transition: transform 400ms ease-in;
}

.worst {
    will-change: margin-top;
    transition: margin-top 500ms ease-out;
}

.worst:hover {
    margin-top: 20px;
}